<div class="contact_container">
    <div class="contact_top">
        <div class="contact_top-left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3639.1460849595114!2d24.02783391165984!3d49.837480422973506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6f1b60bf91%3A0x8af1055d4a4e7e98!2z0JrQvtGA0L7QstCwINCa0L7Qu9GM0L7RgNC-0LLQsA!5e0!3m2!1suk!2sua!4v1531863224205"  frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contact_top-right">
            <div class="contact_flex contact_top-address">
                <span>
                    <img src="/img/contact/placeholder.png" alt="вул. Чайковського 14">
                </span>
                <span>
                    м. Львів, вул. Чайковського 14
                </span>
            </div>
            <div class="contact_flex contact_top-phone">
                <span>
                    <img src="/img/contact/telephone.png" alt="вул. Чайковського 14">
                </span>
                <span>
                    +38(098)873-15-79
                </span>
            </div>
            <div class="contact_flex contact_top-email">
                <span>
                    <img src="/img/contact/arroba.png" alt="вул. Чайковського 14">
                </span>
                <span>
                    korova.kolorova@gmail.com
                </span>
            </div>
        </div>
    </div>
    <div class="contact_form">
        <form action="">
            <input type="text" placeholder="Ім'я"> <br>
            <input type="text" placeholder="Номер телефону"> <br>
            <input type="text" placeholder="E-mail"> <br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
    </div>
</div>