<div class="header_bottom-container">
    <div class="header_bottom">
        <div class="header_bottom-top">
            <span>БУРГЕРИ - ЯК ОКРЕМИЙ ВИД МИСТЕЦТВА</span>
        </div>
        <div class="header_bottom-center">
            <span>БУРГЕРИ ПРИГОТОВЛЕНІ З ЛЮБОВ'Ю</span>
        </div>
        <div class="header_bottom-bottom">
            <span>Одного разу, ми спробували створити щось нове, щось цікаве... Так, в нас все получилося. Зараз Ви можете спробувати цей шедевр в нашому закладі або замовивши доставку додому. </span>
        </div>
        <div class="btn">
            <a href="#/menu" id="header_btn">МЕНЮ</a>
        </div>
    </div>
</div>
<main>
    <div class="category">
        <div class="category_text">
            <span>Оберіть категорію нашого меню:</span>
        </div>



        <div class="category_cards">
            <div class="category_card">
                <div class="category_card-photo" style="background-image: url(img/category/burgers.jpg)">
                </div>
                <div class="category_card-name"><a href="#/menu">БУРГЕРИ</a></div>
                <div class="category_card-info">великі, не менше смачні та дуже ситі бургери </div>
            </div>



            <div class="category_card">
                <div class="category_card-photo" style="background-image: url(img/category/vegaBurgers.jpg)">

                </div>
                <div class="category_card-name"><a href="#/menu">ВЕГА БУРГЕРИ</a></div>
                <div class="category_card-info">бургери для вашої особистості.</div>
            </div>



            <div class="category_card">
                <div class="category_card-photo" style="background-image: url(img/category/sendv.jpg)">

                </div>
                <div class="category_card-name"><a href="#/menu">СЕНДВІЧІ</a></div>
                <div class="category_card-info">це та ситуація, коли менше - не означає гірше</div>
            </div>




        </div>
        <div class="btn category_btn">
            <a href="#/menu">перейти до повного меню</a>
        </div>
    </div>
    <div class="video">
        <div class="video_left">
            <div class="video_left-top">Бургери - це наше життя</div>
            <div class="video_left-bottom">Нам подобається це робити і воно в нас получається. Хочете, ми і Вас навчимо робити бургери? <br><br> Дивіться наші відео-уроки, та пригощайте друзів:
            </div>
            <div class="btn">
                <a href="#">ВІДЕО РЕЦЕПТИ</a>
            </div>
        </div>
        <div class="video_right">
            <iframe src="https://www.youtube.com/embed/gZuDMKXWU_E?rel=0" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
        </div>
    </div>
    <div class="mblog">
        <div class="mblog_title">
            Наші ексклюзивні рецепти та інші блоги:
        </div>
        <div class="mblog_posts">
            <div class="mblog_post">
                <div class="mblog_post-photo" style="background-image: url(img/post/1.jpg)"></div>
                <div class="mblog_post-title">Простий домашній бургер</div>
                <div class="mblog_post-description">
                    Бургер классический – это разрезанная пополам булочка с жареной котлетой из мясного фарша в середине. Если приготовить бургер дома из натуральных и свежих продуктов, то фаст-фуд превратится не только во вкусную, но еще и полезную еду.
                </div>
            </div>

            <div class="mblog_post">
                <div class="mblog_post-photo" style="background-image: url(img/post/2.jpg)"></div>
                <div class="mblog_post-title">Як легко відмити плиту?</div>
                <div class="mblog_post-description">
                    Як правило, при прибиранні кухні господині намагаються відкласти миття решітки газової плити на потім. Це пояснюється незручністю форми (потрібно постаратися, щоб пролізти між вузькими прутами), а також думками про марної трати часу
                </div>
            </div>

            <div class="mblog_post">
                <div class="mblog_post-photo" style="background-image: url(img/post/3.jpg)"></div>
                <div class="mblog_post-title">Картопля фрі в домашніх умовах</div>
                <div class="mblog_post-description">
                    Ну хто ж не любить картоплю фрі??? Шкідливо скажете Ви! Помирати здоровим теж шкода:-) А час від часу можна і дозволити собі щось таке, якщо більшість часу Ви притримуєтесь здорового харчування!
                </div>
            </div>
        </div>


    </div>
</main>
